---
import { makeSlug } from '~/helpers/slug.js'

const {
  text
} = Astro.props
---
<h2
    id={ makeSlug( text ) }
    class="section-heading text-xl md:text-2xl text-center font-bold mb-3"
>
    { text }
</h2>
