---
import '~/assets/css/tailwind.css'
import '@fontsource/inter/variable.css'

import { PageHead } from '~/helpers/config-node.js'

import Navbar from '~/components/navbar.vue'
import AllUpdatesSubscribe from '~/components/all-updates-subscribe.vue'
import GoogleAnalytics from '~/src/components/google-analytics.astro'

const {
    // headTitle,
    // headDescription,
    headOptions = {}
} = Astro.props

// console.log('Astro.site', Astro.site )

const pageHead = new PageHead({
    domain: Astro.site.origin,

    ...headOptions
})

const currentYear = String( new Date().getFullYear() )
---
<!doctype html>
<html lang="en">
    <head>
        <title>{ pageHead.title }</title>
        <Fragment set:html={ pageHead.allHeadMarkup } />

        <GoogleAnalytics />

    </head>
    <body>

        <div class="app-wrapper text-gray-300 bg-gradient-to-bl from-dark to-darker bg-fixed">
            <Navbar />
            <div class="app-main min-h-screen flex items-center">
                <slot />
            </div>

            <footer>
                <div class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden space-y-24 sm:px-6 lg:px-8">
                    <div class="flex justify-center space-x-6">
                        <div class="flex flex-col items-center space-y-4">
                            <AllUpdatesSubscribe
                                client:visible
                            />
                        </div>
                    </div>
                    <p class="text-center text-base leading-6 text-gray-400">
                        <span>Built by </span>
                        <a
                            href="https://samcarlton.com/"
                            rel="noopener"
                            class="underline"
                        >Sam Carlton</a>
                        <span> and the awesome </span>
                        <a
                            href="https://github.com/ThatGuySam/doesitarm/graphs/contributors"
                            rel="noopener"
                            class="underline"
                        >🦾 Does It ARM Contributors. </a>
                    </p>
                    <p class="mt-8 text-center text-base leading-6 text-gray-400">
                        &copy; { currentYear } Does It ARM All rights reserved. This site is supported by Affiliate links.
                    </p>
                </div>
            </footer>

        </div>

    </body>
</html>


