---
import '~/assets/css/tailwind.css'

import { PageHead } from '~/helpers/config.js'

import VueBaseLayout from '../../layouts/base.vue'

const {
    headTitle,
    headDescription,
    headOptions = {}
} = Astro.props

// console.log('Astro.site', Astro.site )

const pageHead = new PageHead({
    domain: Astro.site.origin,

    ...headOptions
})

console.log( 'pageHead', pageHead.meta )
---
<!doctype html>
<html lang="en">
    <head>
        <title>{ headTitle }</title>
        { pageHead.metaAndLinkMarkup }
    </head>
    <body>
        <VueBaseLayout
            client:load
        >
            <slot />
        </VueBaseLayout>

        <!-- <script defer src="/_nuxt/static/1650919862/state.js"></script> -->
    </body>
</html>


